@import 'tailwindcss' source('../../../src/**/*.{jsx,tsx}');
@plugin "@tailwindcss/typography";
@plugin './hero.ts';
@source "../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
  --animate-shine: shine 5s linear infinite;

  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}
